/* Footer styles */
.footer {
    background-color: #1f1f1f; // Dark footer background
    text-align: center;
    padding: 1rem;
  
    p {
      color: #a1a1a1; // Grey text for footer
    }
  }